name: Accounts Repo
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: 
  contents: write
  packages: write
  id-token: write
   
jobs:
  ci-pipeline:
    uses: Potluri-11/central-ci/.github/workflows/ci-reusable-workflow.yml@main
    with:
      service-name: accounts
      unit-test:  gradle test
      integration-test:  gradle IntegrationTest
      code-coverage: gradle jacocoTestReport
      image-ref: ghcr.io/potluri-11/accounts:1.0.0
