name: Accounts Repo
on:
  push:
    branches:
      - main
  workflow_dispatch: 

  
permissions: 
  contents: read
  packages: write
  id-token: write
  
jobs:
  pipeline:
    uses: Potluri-11/central-ci/.github/workflows/ci-reusable workflow.yml@main
    with:
      service-name: Accounts
      unit-test: echo "No unit tests to perform"
      integration-test: echo "No integration tests to perform"
      code-coverage: echo "No code coverage reports"
      image-ref: ghcr.io/Potluri-11/Accounts:1.0.0
